<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>FindBestMoment</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link href = "css/bootstrap.css" rel = "stylesheet"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link href = "css/bootstrap.css" rel = "stylesheet"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="search.css">
</head>
<body>
<div class="header">
    <a th:href="@{/findbestmoment}">
        <img src="/logo1.jpg" height="50vh" style="margin-top:1%; ">
    </a>
</div>
<div id="chart_div" style = "width: 80%; height: 70%; paddleft: 0px;" ></div>
</body>
</html>

<script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var highs = [[${highs}]];
        var timestamps = [[${timestamps}]];
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Day');
        data.addColumn('number', 'Price');
        var dataArray = [];

        for(var i=0;i<highs.length;i++)
        {
            var date = new Date(timestamps[i] * 1000);

             dataArray.push([new Date(date),highs[i]]);
        }
        data.addRows(dataArray);
        var options = {
            hAxis: {},
            vAxis: {}
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }

</script>