<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>FindBestMoment</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link href = "css/bootstrap.css" rel = "stylesheet"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link href = "css/bootstrap.css" rel = "stylesheet"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="search.css">
    <link rel="stylesheet" href="card.css">
    <link  rel="stylesheet"href="all.min.css">
</head>

<body>
<div class="header">
    <a th:href="@{/findbestmoment}">
<img src="logo.jpg" height="50vh" style="margin-top:1%; ">
    </a>
<form class="example" th:action="@{/search}" method="get">
    <input type="text" placeholder="Search.." name="symbol" id="symbol">
    <button type="submit">Search</button>
</form>
</div>
<div class = "stocks_container" >

    <tr th:each="stock: ${hot_stocks}">
        <a th:href="@{/chart/{stock_symbol}/{interval}(stock_symbol=${stock.symbol},interval='1day')}">
    <div class="card">
        <div class="card_header">
            <h1 name="choosen_stock" id="choosen_stock"  th:text="${stock.symbol}" ></h1>
           </div>
        <h6 style="text-align: center;" th:text="${stock.getQuoteType().getShortName()}"></h6>

        <div class="card_body">

            <div class="price_area">
                <div class="main_price" th:text="${stock.getPrice().getRegularMarketPrice().getFmt()}"></div>
                <div class ="main_percentage" th:style="${stock.getPrice().getRegularMarketChange().getFtmDouble() &gt; 0 ? 'color:#009933;':'color:#cc0000;'}"  th:text="${stock.getPrice().getRegularMarketChange().getFtmDouble()}+'('+${stock.getPrice().getRegularMarketChangePercent().getFmt()}+ ')'"></div>

            </div>
                <div class="after_hours">
                <p class ="after_hours_percentage" style="float: left;margin-left: 10%;">After hours:</p>
                <p class ="after_hours_percentage" th:if="${stock.getPrice().getMarketState()=='REGULAR' and stock.getPrice().getExchangeName()!='Other OTC'}" >0.0</p>
                    <p class ="after_hours_percentage" th:if="${stock.getPrice().getMarketState()=='POST' and stock.getPrice().getExchangeName()!='Other OTC'}" th:style="${stock.getPrice().getPostMarketChangePercent().getRaw() &gt; 0 ? 'color:#009933;':'color:#cc0000;'}"  th:text="${stock.getPrice().getPostMarketChangePercent().getFmt()}"></p>
                    <p class ="after_hours_percentage" th:if=" ${stock.getPrice().getExchangeName()=='Other OTC'}">--.--</p>
                    <p class ="after_hours_percentage" th:if="${stock.getPrice().getMarketState()=='PRE' and stock.getPrice().getExchangeName()!='Other OTC'}" th:style="${stock.getPrice().getPreMarketChangePercent().getRaw() &gt; 0 ? 'color:#009933;':'color:#cc0000;'}"  th:text="${stock.getPrice().getPreMarketChangePercent().getFmt()}"></p>
                    <p class ="after_hours_percentage" th:if="${stock.getPrice().getMarketState()=='CLOSED'}" >--.--</p>

                </div>
            </div>
        <div style="display: flex;  font-family:Arial;">Trends:</div>

        <div class="card_bottom">
        <div class="short_trend">
            <div th:if="${stock.getPageViews().getShortTermTrend()=='UP'}" class="arrow-up"></div>
            <div th:if="${stock.getPageViews().getShortTermTrend()=='DOWN'}" class="arrow-down"></div>
            <div th:if="${stock.getPageViews().getShortTermTrend()=='NEUTRAL'}" class="neutral-arrow"></div>
            <div th:if="${stock.getPageViews().getShortTermTrend()==null}" class="neutral-arrow"></div>
            <div th:if="${stock.getPageViews().getShortTermTrend()=='NONE'}" class="neutral-arrow"></div>

            <p>Short</p>
        </div>
        <div class="mid_trend">
            <div th:if="${stock.getPageViews().getMidTermTrend()=='UP'}" class="arrow-up"></div>
            <div th:if="${stock.getPageViews().getMidTermTrend()=='DOWN'}" class="arrow-down"></div>
            <div th:if="${stock.getPageViews().getMidTermTrend()=='NEUTRAL'}" class="neutral-arrow"></div>
            <div th:if="${stock.getPageViews().getMidTermTrend()==null}" class="neutral-arrow"></div>
            <div th:if="${stock.getPageViews().getMidTermTrend()=='NONE'}" class="neutral-arrow"></div>

            <p>Mid</p>

        </div>
        <div class="long_trend">
            <div th:if="${stock.getPageViews().getLongTermTrend()=='UP'}" class="arrow-up"></div>
            <div th:if="${stock.getPageViews().getLongTermTrend()=='DOWN'}" class="arrow-down"></div>
            <div th:if="${stock.getPageViews().getLongTermTrend()=='NEUTRAL'}" class="neutral-arrow"></div>
            <div th:if="${stock.getPageViews().getLongTermTrend()==null}" class="neutral-arrow"></div>
            <div th:if="${stock.getPageViews().getLongTermTrend()=='NONE'}" class="neutral-arrow"></div>

            <p>Long</p>

        </div>
    </div>

        </div>
        </a>
    </div>
    </tr>
</div>
</body>
</html>
